#background1{
      background-image: url(https://wallpaperaccess.com/full/462778.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#background2{
  background-image: url(https://i.pinimg.com/originals/e3/d2/37/e3d237ce59b5a9d3525adf3c4f632b29.jpg);
      background-repeat:repeat;
      background-size: contain;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .active{
    margin-left: 0.3rem;
  }

  #logo{
    margin-right: 100rem;
    
  }
    
#container{
    background-color: #00000095;
    width: 22rem;
    height: 50rem;
    color:white;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    padding-top: 5px;
    
}

#header{
    margin-top: 15vh;
}

#par{
    margin-top: 10vh;
    font-family: cursive;
    font-size: 20px;
}

#header2{
    margin-top: 10vh;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.push{
   margin-left: 50px;
   background-color:#009b7770 !important;
   margin: px;
   padding: 10px;
}

#start{
    display: flex;
    justify-content: center;
}

#menu{
    color:rgb(246, 67, 35);
    text-align: center;
    text-decoration:overline;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
 

}

.img-with-text {
    text-align:center;


}

#all-pizza{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

#price{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: rgb(246, 67, 35);
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1#faq{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: rgb(246, 67, 35);
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p#faq{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: rgb(246, 67, 35);
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.description{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration:dashed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


.prices{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #009B77;
    text-decoration:overline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:#DD4124;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red !important;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow !important;
    background-color: transparent;
    text-decoration: underline;
  }

  #No-Gluten{
    color: green;
    display: flex;
  }
  
  .fa-leaf{
    color: #1aff00;
  }

  .i-desc{
    font-size: 20px;
    text-align:left;
    font-weight: bold;
    color: black;
    text-decoration:dashed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
      
      html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
      }
      
      .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
      }
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      
      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button:hover {
        background-color: #555;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
    
     .faq-header{
        font-size: 40px;
    text-align: center;
    font-weight:100;
    color: #ff5956;
    text-decoration:overline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }